.submit_plugins {
  height: max-content;
  display: flex;
  justify-content: space-around;
}
.submit_plugins_main {
  width: 70%;
  margin-bottom: 3rem;
}
.submit_plugins_sidebar {   
    width: 30vw;
    padding: 5%;
  }
  
  .submit_plugins_sidebar_link {
    color: #546081;
  }
  /* .scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
  } */