.footer{
    /* color */
    background: #292e34;
    background: linear-gradient(#292e34, #030303);
    color: #fafafa;
  
    /* display */
    padding: 4em 1em;
    padding-bottom: 4em;
  
    /* position */
    position: relative;
  
    /* font */
    font-size: 1.4em;
  }
  
  .footer_row {
    /* display */
    width: 100%;
    max-width: 1500px;
    margin: 0 auto !important;
  }
  
  .footer_header {
    /* display */
    padding: 0.4em 1em;
  
    /* font */
    font-size: 1.3em;
    line-height: 1.3;
    white-space: pre-line;
  }
  
  .footer_header > strong {
    font-size: 1.2em;
  }
  
  .footer_logo {
    /* display */
    padding-bottom: 2em;
  
    /* flex */
    flex: 1;
    flex-shrink: 0;
  }
  
  .footer_logo > img {
    /* display */
    width: 95%;
    max-width: 358.8px; /* img initial width (598px) * (3/5) */
    height: auto;
  }
  
  .footer_body {
    /* flex */
    flex: 2;
    padding-left: 5%;
  }
  
  .footer_desc {
    font-weight: 300;
  }
  
  .footer_links {
    /* display */
    margin-top: 2em;
  
    /* font */
    text-align: center;
  }
  
  .footer_link {
    /* display */
    padding-top: 0.3em;
  
    /* font */
    font-weight: 600;
  }
  
  .footer_link > a {
    color: #fafafa;
    text-decoration: none;
  }
  
  .footer_link > a:hover {
    color: #39a5dc;
  }
  
  .footer_copyright {
    /* position */
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
  
    /* font */
    text-align: center;
  }
  
  /* ============================== */
  /* ---------- RESPONSIVE -------- */
  /* ============================== */
  
  @media (min-width: 480px) {
    .footer_header {
      /* display */
      padding: 0.35em 0.8em;
  
      /* font */
      font-size: 1.4em;
      line-height: 1.3;
    }
  
    .footer_body {
      /* display */
      padding-right: 3em;
    }
  
    .footer_links {
      /* display */
      display: flex;
      height: 8em;
  
      /* font */
      text-align: left;
  
      /* flex */
      flex-flow: column wrap;
    }
  }
  
  @media (min-width: 590px) {
    .footer_links {
      height: 7em;
    }
  }
  
  @media (min-width: 768px) {
    .footer_row {
      display: flex;
    }
  
    .footer_logo {
      min-width: 330px;
    }
  
    .footer_links {
      height: 8em;
    }
  }
  
  @media (min-width: 935px) {
    .footer_links {
      height: 7em;
    }
  }
  