.welcome {
  position: relative;

  /* font */
  color: white;
  text-align: center;

  /* background image */
  background-image: url(../public/img/banner_chris.png);
  background-image: no-repeat;
  background-size: cover;

  height: 90vh;
}

.welcome > h1 {
  /* positioning */
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 6em;
  width: 100%;
  font-weight: 600;
}

.welcome > h3 {
  /* positioning */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome_featured_container {
  position: absolute;
  display: flex;
  top: 70%;
  width: 100%;
  justify-content: center;
}

/* .welcome_featured_container > div {
  display: flex;
  justify-content: space-evenly;
  flex: 1
} */

/* ============================== */
/* ---------- RESPONSIVE -------- */
/* ============================== */

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .welcome > h1 {
    font-size: 3em;
  }
  .welcome > h3 {
    font-size: 1.3em;
    top: 45%;
    width: 70%;
  }
  .welcome_featured_container {
    padding-top: 5%;
    padding-bottom: 5%;

    flex-direction: column;
    background-color: #0275d8;
    height: max-content;
  }
}
